<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Configurações da Conexão -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/db_drogaria</property>
        <property name="connection.username">root</property>
        <property name="connection.password">14789632</property>

        <!-- Numero de Conexões que o Hibernate irá Abrir (Pools) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect (Tipo de BD que iremos Trabalhar) -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Gerenciamentos de Sessão -->
        <property name="current_session_context_class">thread</property>

        <!-- Desabilita a cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Irá exibir os comandos SQL -->
        <property name="show_sql">true</property>

        <!-- Criação das tabelas -->
        <!-- create(Cria do Zero Sempre), update (Sempre Atualiza), Validate (Quando só quer validar, e não criar Tabelas) -->
        <property name="hbm2ddl.auto">validate</property>
		
		<mapping class="br.com.drogaria.domain.Fabricante" />
		<mapping class="br.com.drogaria.domain.Funcionario"/>
		<mapping class="br.com.drogaria.domain.Produto"/>
		<mapping class="br.com.drogaria.domain.Venda"/>
		<mapping class="br.com.drogaria.domain.Item"/>
    </session-factory>

</hibernate-configuration>